html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	max-width: 100%;
}

body {
	font-family: 'font', sans-serif;
}

.main-content {

  display: flex;

  flex-direction: column;

  align-items: center;

  justify-content: center;

  min-height: 100vh;

  color: #fff;

  background-color: #070217;

}

.skillbox {

  display: inline-block;

  margin-bottom: 50px;

}

.maa {
  margin-bottom: 50px;

  display: inline-block;

  /*margin: 24px 49px;*/
}

.block {

  display: inline-block;

  margin: 24px 49px;

}

.container {

  margin: 0 auto;

  padding: 80px 0;

  width: 1170px;

}

h1 {

  margin-top: 0;

  margin-bottom: 40px;

}

h2 {

  margin-top: 0;

  margin-bottom: 10px;

}

h3 {

  margin-top: 0;

  margin-bottom: 10px;

}

p {

  margin-top: 0;

  margin-bottom: 40px;

  width: 872px;

}

ul {

  margin-top: 0;

}

figure {

  margin-top: 0;

  margin-right: 0;

}

.gray_block {

  border-radius: 30px;

  padding: 30px;

  background-color: #f3f3f3;

}

.gray_block:not(:last-child) {

  margin-bottom: 40px;

}

.gray_block p {

  width: 692px;

  margin-bottom: 10px;

}

.gray_block ul {

  padding-left: 15px;

}

.gray_block ul li:not(:last-child) {
  margin-bottom: 20px;
}

img {

  margin-bottom: 40px;

}

figure {

  display: inline-block;

  margin-bottom: 40px;

  width: 872px;

}
